*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  background-color: #ffffff;
  margin: 0;
  height: 100%;
}
