$primary-font: "Oswald", sans-serif;
$second-font: "Lato", sans-serif;
$base-color-text: #444444;
$base-color-title: #000000;
$bg-basic-green: #68b738;
$bg-basic-text: #f2f2f2;
$bg-color-icon: #666666;

$tablet-width: 768px;
$desktop-width: 1440px;
