/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";


/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/navigation.scss";
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/advantages.scss";
@import "./blocks/living-example.scss";
@import "./blocks/stats.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/footer-logo.scss";
@import "./blocks/footer-social.scss";
@import "./blocks/footer-copyright.scss";
@import "./blocks/catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/characteristics.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/present.scss";
@import "./blocks/subscription.scss";
