.advantages__container {
  padding: 0 20px 49px;
}

.advantages__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 40px;
  color: #000000;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__description {
  font-family: $second-font;
  margin: 0;
  margin-left: 80px;
  margin-bottom: 20px;
}

.advantages__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: $bg-basic-green;
}

.advantages__item--nutrients::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../icons/icon-leaf.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 28px;
  top: 16px;
  left: 18px;
}

.advantages__item--view::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../icons/icon-glass-of-water.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 28px;
  top: 16px;
  left: 18px;
}

.advantages__item--nutrition::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../icons/icon-eat.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 28px;
  top: 16px;
  left: 18px;
}

.advantages__item--time::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../icons/icon-alarm.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 28px;
  top: 16px;
  left: 18px;
}

@media (min-width: $tablet-width) {
  .advantages__container {
    padding: 15px 109px 47px 30px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: left;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-template-rows: 280px;
    grid-gap: 37px 149px;
    margin: 0;
    padding: 0;
  }

  .advantages__description {
    font-family: $second-font;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding: 151px 26px 57px 0;
  }

  .advantages__item {
    margin: 0;
    position: relative;
    list-style-type: auto;
  }

  .advantages__item::marker {
    line-height: 280px;
    font-size: 30px;
    color: #f2f2f2;
  }

  .advantages__item::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    top: 40px;
    left: 1px;
    background-color: $bg-basic-green;
  }

  .advantages__item--nutrients::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../icons/icon-leaf.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 28px;
    top: 66px;
    left: 27px;
  }

  .advantages__item--view::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../icons/icon-glass-of-water.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 28px;
    top: 66px;
    left: 27px;
  }

  .advantages__item--nutrition::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../icons/icon-eat.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 28px;
    top: 66px;
    left: 27px;
  }

  .advantages__item--time::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../icons/icon-alarm.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 28px;
    top: 66px;
    left: 27px;
  }
}
