.button {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: $bg-basic-green;
  border: none;
  cursor: pointer;
}
