.characteristics__name {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.characteristics__meaning {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
