.container {
  min-width: 280px;
  padding: 0 20px;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    min-width: 1220px;
    padding: 0 110px;
  }
}
