.contacts__container {
  display: grid;
  grid-template-columns: 1fr 140px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.contacts__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.contacts__description {
  margin: 0;
  font-family: $second-font;
  line-height: 20px;
  text-align: left;
}

.contacts__map iframe {
  background-image: url("../../images/backgrounds/background-map-mobile@1x.png");
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 100%;
  min-height: 362px;
  display: block;
  border: none;
}

@media (min-width: $tablet-width) {
  .contacts--catalog {
    background-color: #f2f2f2;
  }

  .contacts__container {
    min-height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .contacts__title {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }

  .contacts__description {
    margin: 0;
    font-size: 16px;
    text-align: right;
    width: 163px;
  }

  .contacts__map {
    background-image: url("../../images/backgrounds/background-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts--catalog {
    background-color: #f2f2f2;
  }

  .contacts__container {
    position: absolute;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
    width: 565px;
    min-height: 199px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: 61px 78px 60px 80px;
  }

  .contacts__title {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }

  .contacts__description {
    margin: 0;
    font-size: 16px;
    text-align: left;
    width: 163px;
  }

  .contacts__map {
    background-image: url("../../images/backgrounds/background-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 400px;
  }
}
