.footer-copyright {
  text-align: center;
  padding-top: 20px;
}

.footer-copyright__link {
  text-decoration: none;
  color: inherit;
}

.footer-copyright__text {
  margin: 0;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
