.hero {
  width: 320px;
  text-align: center;
  background-image: url("../../images/backgrounds/background-hero-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__container {
  padding-top: 27px;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 63%, transparent 50%);
}

.hero__header {
  padding: 0 10px 29px;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.hero__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.hero__link {
  display: block;
  width: 280px;
  height: 40px;
  padding: 10px 39px;
}


@media (min-width: $tablet-width) {
  .hero {
    width: 709px;
  }

  .hero__container {
    background-color: #ffffff;
    background-image: none;
    padding: 0;
  }

  .hero__header {
    padding: 65px 100px 21px 90px;
  }

  .hero__title {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
    color: #000000;
    margin-bottom: 40px;
  }

  .hero__slogan {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }

  .hero__link {
    position: relative;
    bottom: 585px;
    left: 90px;
    display: block;
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    height: 54px;
    padding: 14px 26px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    width: 1440px;
    background-image: url("../../images/backgrounds/background-hero-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .hero__container {
    background: none;
    background-image: linear-gradient(to left, rgba(104, 183, 56, 0.85) 55%, transparent 50%);
    padding: 0;
  }
}
