.hero {
  background-image: url("/images/backgrounds/background-hero-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__container {
  background-color: rgba(104, 183, 56, 0.85);
  padding: 27px 20px;
}

.hero__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.hero__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: #ffffff;
}

.hero__link {
  display: block;
  width: 280px;
  height: 40px;
  padding: 10px 39px;
}
