.living-example {
  padding-top: 25px;
  padding-bottom: 22px;
  background-color: $bg-secondary-color;
}

.living-example__header {
  padding-bottom: 20px;
}

.living-example__title {
  margin: 0;
  padding-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: $base-font-weight;
  text-align: left;
  color: $base-color-title;
}

.living-example__description {
  margin: 0;
  font-family: $second-font;
  text-align: left;
}

.living-example__stats {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  margin-bottom: 20px;
  column-gap: 32px;
}

.living-example__result {
  position: relative;
  bottom: 18px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.living-example__result picture {
  display: contents;
}

.living-example__result-image-before {
  clip-path: inset(0 50% 0 0);
  grid-area: 1/1/-1/-1;
}

.living-example__result-image-after {
  clip-path: inset(0 0 0 50%);
  grid-area: 1/1/-1/-1;
}

.living-example__result-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid $bg-color-icon;
  background-color: $bg-base-color;
  z-index: 2;
  cursor: col-resize;

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 256px;
    border-radius: 2px;
    background-color: $bg-color-icon;
    top: -110px;
    left: 17px;
  }

  &::after {
    content: "";
    position: absolute;
    mask-image: url("../../icons/slider-triangle.svg");
    width: 24px;
    height: 18px;
    background-color: $bg-color-icon;
    top: 11px;
    left: 7px;
  }

  &:hover,
  &:focus {
    border-color: $bg-basic-green;
    outline: $bg-basic-green;
  }

  &:hover::before,
  &:focus::before {
    background-color: $bg-basic-green;
  }

  &:hover::after,
  &:focus::after {
    background-color: $bg-basic-green;
  }

  &:active {
    border-color: $bg-status-color;
    opacity: 60%;
  }

  &:active::before {
    background-color: $bg-status-color;
    opacity: 60%;
  }

  &:active::after {
    background-color: $bg-status-color;
    opacity: 60%;
  }
}

@media (min-width: $tablet-width) {
  .living-example {
    position: relative;
    background-color: $bg-base-color;
    background-image: linear-gradient(to top, $bg-secondary-color 43%, transparent 43%);
    padding-top: 45px;
    padding-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      border-top: 1px solid $border-color-link;
      width: 100vw;
      top: 0;
      left: 0;
    }
  }

  .living-example__container {
    padding-bottom: 83px;
  }

  .living-example__header {
    padding-bottom: 55px;
  }

  .living-example__title {
    padding-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  .living-example__description {
    font-size: 16px;
    line-height: 24px;
  }

  .living-example__stats {
    align-items: center;
    gap: 0;
    margin-bottom: 107px;
  }

  .living-example__stats-expenses {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
  }

  .living-example__result-slider::before {
    height: 512px;
    top: -237px;
    left: 17px;
  }
}

@media (min-width: $desktop-width) {
  .living-example {
    padding-top: 0;
    background-color: $bg-secondary-color;
    background-image: linear-gradient(to top, transparent 77%, $bg-base-color 50%);

    &::before {
      display: none;
    }
  }

  .living-example__container {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
  }

  .living-example__header {
    padding-bottom: 69px;
  }

  .living-example__title {
    padding-bottom: 146px;
    padding-right: 200px;
  }

  .living-example__description {
    padding-right: 180px;
  }

  .living-example__stats {
    width: 436px;
    margin-bottom: 23px;
  }

  .living-example__stats-expenses {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
  }

  .living-example__result {
    top: 0;
    left: 25px;
  }

  .living-example__result-slider {
    top: 42%;
    transform: translate(-50%, -38%);
  }
}
