@media (max-width: $mobile-maxwidth) {
  .main-header {
    position: relative;
    padding: 0;
  }

  .main-header::after {
    content: "";
    position: absolute;
    width: 100vw;
    border-bottom: 1px solid $second-border-color;
  }
}

.main-header__logo-link {
  width: 260px;
  display: flex;
  text-decoration: none;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 56px;
  padding: 13px 20px 12px;
}

.main-header__logo-link:hover {
  opacity: 80%;
}

.main-header__logo-link:active {
  opacity: 60%;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    min-height: 75px;
  }

  .main-header__logo-link {
    margin: 0;
    gap: 13px;
    padding: 25px 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1440px;
    min-height: 143px;
    margin: 0 auto;
  }

  .main-header__logo-link {
    width: 400px;
    margin: 0;
    gap: 14px;
    padding: 55px 55px 29px 110px;
  }
}
