.main-header {
  display: grid;
  grid-template-columns: 320px;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 320px;
  min-height: 264px;
}

.main-header__logo-link {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  height: 66px;
  padding-top: 23px;
}

.main-header__logo {
  position: absolute;
  top: 13px;
  left: 20px;
}

.main-header__text-logo {
  margin-left: 89px;
}

.main-header__logo-link:hover {
  opacity: 80%;
}

.main-header__logo-link:active {
  opacity: 60%;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: 0;
    padding: 25px 0 0;
    width: 768px;
    min-height: 50px;
  }

  .main-header__logo-link {
    display: flex;
    padding: 0;
    text-decoration: none;
    height: 50px;
  }

  .main-header__logo {
    position: absolute;
    top: 25px;
    left: 30px;
  }

  .main-header__text-logo {
    margin: 0;
    position: absolute;
    top: 41px;
    left: 103px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: 0;
    padding: 25px 0 0;
    width: 1220px;
    min-height: 50px;
  }

  .main-header__logo-link {
    display: flex;
    padding: 0;
    text-decoration: none;
    height: 50px;
  }

  .main-header__logo {
    position: absolute;
    top: 25px;
    left: 30px;
  }

  .main-header__text-logo {
    margin: 0;
    position: absolute;
    top: 41px;
    left: 103px;
  }
}