.main-footer {
  width: 320px;
  min-height: 240px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .main-footer {
    margin: auto;
    width: 768px;
    min-height: 147px;
  }

  .main-footer__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    margin: auto;
    width: 768px;
    min-height: 147px;
  }

  .main-footer__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 55px;
  }
}
