.main-nav__toggle {
  display: none;
  position: relative;
  top: -44px;
  right: -280px;
  background-image: url("../../icons/open-navigation.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  border: none;
}

.main-nav__toggle--close {
  display: block;
  position: relative;
  top: -44px;
  right: -280px;
  background-image: url("../../icons/close-navigation.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 18px;
  height: 18px;
  border: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle,
  .main-nav__toggle--close {
    display: none;
  }

  .main-nav__navigation {
    margin-left: 540px;
    padding-top: 16px;
  }
}
