.main-footer {
  background-color: #f2f2f2;
}

.main-footer__container {
  min-height: 240px;
}

@media (min-width: $tablet-width) {
  .main-footer__container {
    min-height: 147px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__container {
    min-height: 169px;
    display: flex;
    flex-flow: row wrap;
    align-items: space-between;
  }
}
