.main-nav__toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url("../../icons/close-navigation.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
}


.main-nav__toggle::before {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url("../../icons/open-navigation.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}


@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
