.main-footer {
  min-height: 240px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    min-height: 147px;
    background-color: #f2f2f2;
  }

  .main-footer__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 55px 30px;
  }
}
