.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

@media (min-width: ($desktop-width)) {
  .page__body--index::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 694px;
    background-image:
      image-set(
        url("../../images/backgrounds/background-hero-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/backgrounds/background-hero-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/backgrounds/background-hero-desktop@1x.png") type("image/png") 1x,
        url("../../images/backgrounds/background-hero-desktop@2x.png") type("image/png") 2x
      );
    background-color: $bg-color-hero;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  .page__body--index::after {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 694px;
    background-image: linear-gradient(to right, $bg-gradient-hero 100%, $bg-color-hero 50%);
    z-index: -1;
  }
}
