.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

@media (min-width: ($desktop-width)) {
  .page__body--index::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 694px;
    background-image: url("../../images/backgrounds/background-hero-desktop@1x.png");
    background-color: #525359;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
  }

  .page__body--index::after {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 694px;
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 100%, #525359 50%);
    z-index: -1;
  }
}
