.present {
  margin: 35px 20px 40px;
  background-image: url("/images/backgrounds/background-gift-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 280px;
  height: 290px;
}

.present__container {
  background-color: rgba(104, 183, 56, 0.85);
  width: 280px;
  height: 290px;
}

.present__description {
  margin: 0;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 187px 61px 43px 58px;
}
