.present {
  background-image: url("../../images/backgrounds/background-gift-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 290px;
  padding: 0;
}

.present__container {
  background-color: rgba(104, 183, 56, 0.85);
}


.present__description {
  position: relative;
  margin: 0;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 187px 61px 43px 58px;
}

.present__description::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/icon-gift.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 81px;
  top: 58px;
  left: 210px;
}

@media (min-width: $tablet-width) {
  .present {
    background-image: url("../../images/backgrounds/background-gift-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 707px;
    height: 200px;
  }

  .present__container {
    position: relative;
    background-color: rgba(104, 183, 56, 0.85);
    width: 707px;
    height: 200px;
  }

  .present__description {
    margin: 0;
    text-align: left;
    padding: 71px 125px 69px 421px;
  }

  .present__description::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/icon-gift.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 82px;
    top: 57px;
    left: 77px;
  }
}

@media (min-width: $desktop-width) {
  .present {
    background-image: url("../../images/backgrounds/background-gift-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 245px;
    height: 288px;
  }

  .present__container {
    position: relative;
    background-color: rgba(104, 183, 56, 0.85);
    width: 245px;
    height: 288px;
  }

  .present__container::after {
    content: "";
    position: absolute;
    background-image: url("../../icons/icon-gift.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 82px;
    top: 57px;
    left: 77px;
  }

  .present__description {
    margin: 0;
    text-align: center;
    padding: 185px 42px 43px;
  }
}

@media (min-width: $desktop-width) {
  .present {
    background-image: url("../../images/backgrounds/background-gift-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 707px;
    height: 200px;
  }

  .present__container {
    position: relative;
    background-color: rgba(104, 183, 56, 0.85);
    width: 707px;
    height: 200px;
  }

  .present__container::after {
    content: "";
    position: absolute;
    background-image: url("../../icons/icon-gift.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 82px;
    top: 57px;
    left: 77px;
  }

  .present__description {
    margin: 0;
    text-align: left;
    padding: 71px 125px 69px 421px;
  }
}
