.product-card__link {
  text-decoration: none;
  color: #222222;
}

.product-card__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.product-card__description {
  margin: 0;
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 21px;
}

.product-card__title--more {
  color: #111111;
  position: relative;
  margin-top: 23px;
}

.product-card__title--more::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/icon-plus.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: -43px;
  left: 125px;
}

.product-card__link-button {
  padding: 10px 70px;
  color: inherit;
  background-color: #f2f2f2;
}

.product-card__link-button:hover {
  background: #ebebeb;
}

.product-card__link-button:active {
  background: #ebebeb;
  color: #444444;
}
