.product-card__link {
  display: block;
  padding: 10px 36px;
  text-decoration: none;
  color: #222222;
  cursor: pointer;
}

.product-card__link--big {
  padding: 3px 28px;
}

.product-card__container {
  padding-top: 78px;
  text-align: center;
}

.product-card__description {
  margin: 0;
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 21px;
}

.product-card__title--more {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  color: #111111;
  position: relative;
}

.product-card__title--more::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/icon-plus.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: -48px;
  left: 50%;
  transform: translateX(-50%);
}

.product-card__link-button {
  display: block;
  width: 100%;
  padding: 10px 70px;
  color: inherit;
  background-color: #f2f2f2;
}

.product-card__link-button:hover {
  background: #ebebeb;
}

.product-card__link-button:active {
  background: #ebebeb;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .product-card__link {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 200px;
    height: 210px;
    text-decoration: none;
    color: #222222;
    cursor: pointer;
  }

  .product-card__link--small {
    padding: 19px;
  }

  .product-card__link--big {
    padding: 2px 16px;
  }

  .product-card__container {
    padding: 0;
    width: 170px;
    margin-left: 77px;
    margin-right: 77px;
  }

  .product-card__description {
    margin: 0;
    font-family: $second-font;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 82px;
  }

  .product-card__title--more {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 23px;
    font-weight: 400;
    color: #111111;
    position: relative;
  }

  .product-card__title--more::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/icon-plus.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
  }

  .product-card__link-button {
    display: block;
    width: 250px;
    padding: 10px 50px;
    color: inherit;
    background-color: #f2f2f2;
    margin: 0 37px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__link {
    position: absolute;
    top: -70px;
    display: block;
    width: 169px;
    height: 210px;
    text-decoration: none;
    color: #222222;
    cursor: pointer;
  }

  .product-card__link--small {
    padding: 19px 4px;
  }

  .product-card__link--big {
    padding: 7px 1px;
  }

  .product-card__container {
    padding: 0;
    width: 170px;
    margin: 0;
  }

  .product-card__description {
    margin: 0;
    font-family: $second-font;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 82px;
  }

  .product-card__title--more {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 23px;
    font-weight: 400;
    color: #111111;
    position: relative;
  }

  .product-card__title--more::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/icon-plus.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: -110px;
  }

  .product-card__link-button {
    display: block;
    width: 169px;
    padding: 10px 30px;
    color: inherit;
    background-color: #f2f2f2;
    margin: 0;
  }
}
