.programs__container {
  padding: 20px;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  position: relative;
}

.programs__item--weight-loss::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: $bg-basic-green;
  width: 50px;
  height: 50px;
  top: 24;
  left: 20;
}

.programs__item--weight-loss::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/cat-slim.svg");
  width: 36px;
  height: 50px;
  top: 21;
  left: 27;
}

.programs__item--weight-gain::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: $bg-basic-green;
  width: 50px;
  height: 50px;
  top: 24;
  left: 20;
}

.programs__item--weight-gain::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/cat-pro.svg");
  width: 67px;
  height: 28px;
  top: 35;
  left: 12;
}


.programs__title {
  margin: 0;
  margin-left: 90px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.programs__description {
  position: relative;
  font-family: $second-font;
  margin: 0;
  padding: 29px 33px 38px 20px;
}

.programs__description::after {
  content: "";
  position: absolute;
  width: 240px;
  bottom: 15px;
  left: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.programs__link::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/icon-arrow.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
  bottom: 24px;
  left: 122px;
}

.programs__link:active {
  opacity: 30%;
}
