.stats__item {
  width: 124px;
  height: 56px;
  padding-top: 15px;
  border: 1px solid #cdcdcd;
}

.stats__item--expenses {
  border: none;
}

.stats__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 8px;
}

.stats__description {
  display: block;
  width: 80px;
  height: 19px;
  background-color: #eaeaea;
  margin: 0;
  margin-left: 18px;
  font-family: $second-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.stats__description--expenses {
  font-family: $primary-font;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.stats__number--expenses {
  font-family: $primary-font;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .stats__item {
    width: 162px;
    height: 72px;
    padding-top: 15px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    margin-right: 43px;
  }

  .stats__item--expenses {
    display: flex;
    flex-flow: column-reverse wrap;
    width: 174px;
    margin-left: auto;
    border: none;
    margin-right: 0;
    padding: 0;
  }

  .stats__number {
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 11px;
  }

  .stats__description {
    display: block;
    width: 130px;
    height: 50px;
    background-color: #ffffff;
    margin: 0;
    margin-left: 15px;
    font-family: $second-font;
    font-size: 14px;
    line-height: 14px;
  }

  .stats__number--expenses {
    width: 174px;
    font-family: $primary-font;
    line-height: 20px;
    font-size: 20px;
    text-align: right;
    margin: 0;
  }

  .stats__description--expenses {
    width: 174px;
    height: 20px;
    font-family: $primary-font;
    line-height: 20px;
    font-size: 20px;
    text-align: right;
    margin: 0;
    margin-bottom: 9px;
  }
}
